/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2015, 6:06:38 PM
    Author     : Windows-8.1
*/

.background {
  -fx-background-image: url("../image/background.png");
  -fx-background-repeat: stretch; 
  -fx-background-size: 360 160;
  -fx-background-position: center 145;
}

.corner {
  -fx-background-image: url("../image/background.png");
  -fx-background-repeat: stretch; 
  -fx-background-size: 120 50;
  -fx-background-position: 470 375;
}
